set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode

nnoremap <Space>gc :action GotoClass<CR>
nnoremap <Space>ga :action GotoAction

let mapleader=";"

noremap <leader>k gt
noremap <leader>j gT
noremap <leader>h :action Back<CR>
noremap <leader>l :action Forward<CR>
noremap <leader>v :action VimVisualToggleBlockMode<CR>
noremap <leader>fs :action FileStructurePopup<CR>
 
 noremap <leader>ga :action GotoAction<CR>
 noremap <leader>gc :action GotoClass<CR>
 noremap <leader>gd :action GotoDeclaration<CR>
 noremap <leader>gi :action GotoImplementation<CR>
 noremap <leader>gs :action GotoSuperMethod<CR>
 noremap <leader>gt :action GotoTest<CR>
  

